// COMPASS
// --------------------------------------------------------------------------------
// ================================================================================

@import "compass";


// BASE
// --------------------------------------------------------------------------------
// ================================================================================

@import "normalize";


// PRISM (code highlighter)
// --------------------------------------------------------------------------------
// ================================================================================

@import "prism";


// VARS
// --------------------------------------------------------------------------------
// ================================================================================

$colorBase: #666;
$colorDistinct: #D8D8D8;
$colorNeutral: #F8F8FF;
$colorLink: #39F;


// COMMON
// --------------------------------------------------------------------------------
// ================================================================================

// Content
// --------------------------------------------------------------------------------

.content {
	color: $colorBase;
	margin: 2em auto 10em;
	padding: 0 1em;
	max-width: 640px;

	code {
		background: $colorNeutral;
		border: 1px solid darken($colorNeutral, 5%);
		padding: 0 .2em;
	}

	pre code {
		background: none;
		border: 0 none;
		padding: auto;
	}

	a {
		color: $colorLink;

		&:hover { text-decoration: none; }
	}
}


// Header
// --------------------------------------------------------------------------------

.header {
	margin-bottom: 40px;
	border-bottom: 1px solid $colorDistinct;

	h1 {
		color: #F04C23;
		font-size: 4em
	}

	p { font-size: 2em; }
}
